<div class="jumbotron">
  <h1 class="display-3">제주비앤비</h1>
  <p class="lead">제주의 모든 게스트하우스를 한곳에~</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="/home/houses" role="button">게스트하우스 보러가기</a>
  </p>
</div>
