<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>제주비앤비</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-light bg-faded rounded navbar-toggleable-md">
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#containerNavbar" aria-controls="containerNavbar" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <a class="navbar-brand" href="/">제주비앤비</a>

        <div class="collapse navbar-collapse" id="containerNavbar">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link" href="/">서비스소개</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/home/houses">BEST 게스트하우스</a>
            </li>
          </ul>

          <ul class="navbar-nav justify-content-end">
            <li class="nav-item">
              <a class="nav-link" href="/signup">회원가입</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">로그인</a>
            </li>
          </ul>         
        </div>
      </nav>

    <%= yield %>

    </div> <!-- /container -->     

  </body>
</html>